<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
<div th:fragment="chat_modal" class="modal_container">
    <div class="modal_contents">
        <button class="close_close"><span class="material-symbols-outlined" id="fixed">
adjust
</span></button>
        <div class="body_modalss">
            <div class="body_modals" id="body_modals_left"></div>
            <div class="body_modals" id="body_modals_right"></div>
        </div>

    </div>
</div>
<script src="/js/modal/modal.js"></script>
</body>
</html>