<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <!--    제이퀘리 버전-->
    <script src="/js/jquery-1.12.1.min.js"></script>


    <!--메뉴 css-->
    <link rel="stylesheet" href="/css/login/login(menu).css">
    <link rel="stylesheet" href="/css/event/free_board.css">

    <!--자유개시판 모달 검색 css-->
    <link rel="stylesheet" href="/css/modal/free_board_modal.css">

    <!--글 등록 모달-->
    <link rel="stylesheet" href="/css/resist_contents/resist_modal.css">

    <!--모달 css-->
    <link rel="stylesheet" href="/css/modal/free_board_modal.css">
    <link rel="stylesheet" href="/css/event/Gallery_modal.css">
    <link rel="stylesheet" href="/css/mains/modal/mains_botton_modal.css">
    <link rel="stylesheet" href="/css/mains/modal/menu_modal.css">
    <link rel="stylesheet" href="/css/mains/modal/momo_modal.css">
    <link rel="stylesheet" href="/css/mains/modal/chat_modal.css">
    <link rel="stylesheet" href="/css/mains/modal/sneak_modal.css">

<!--    질문 모달 -->
    <link rel="stylesheet" href="/css/event/Question_search_modal.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>

<!--소메뉴 css-->
<div th:replace="/movie/sub_menu-fragment/sub_menu_fragment.html :: article_divs"></div>



<div class="big_word"><div class="input"><button id="writer_word" onclick="location.href='/movie/chats/Question_writer'"><img src="/css/img/icon/290135_pen_pencil_write_icon.png" alt="" id="pencil"></button><button id="w_s" class="ww_ss"><img src="/css/img/icon/9035096_search_icon.png" alt="" width="100%" height="100%"></button></div>
    <div class="gallery_title"><h2 class="h2_title2">문의사항</h2></div>
    <div class="gallery_blank_mini">
        <div class="mini_title_good" id="writer_number">글번호</div>
        <div class="mini_title_good" id="writer_title">글제목</div>
        <div class="mini_title_good" id="writer">작성자</div>
        <div class="mini_title_good" id="w_c">조회수</div>
        <div class="mini_title_good" id="l_c">좋아요</div>
        <div class="mini_title_good" id="w_t">작성시간</div>
    </div>
    <div class="gallery_content">
        <div class="gallery_blank_mini2" th:each="vo, status: ${list}" th:data-Question="${vo.Q_number}">

            <div class="mini_title_good" id="writer_number2">[[${vo.Q_number}]]</div>
            <div class="mini_title_good" id="writer_title2">[[${vo.Q_title}]]</div>
            <div class="mini_title_good"  id="writer2">[[${vo.nickname}]]</div>
            <div class="mini_title_good"  id="w_c2">[[${vo.Q_count}]]</div>
            <div class="mini_title_good" id="l_c2" ></div>
            <div class="mini_title_good"  id="w_t2" >[[${vo.Q_write_time}]]</div>
        </div>
    </div>
</div>



<!--자유게시판 seatch 모달 게시판 공통-->
<div th:replace="/movie/chats/Question_modal.html :: Question_modal"></div>


<!--소메뉴 모달-->
<div th:replace="/movie/mains_fragment/modal/mains_chat_modal.html :: chat"></div>
<div th:replace="/movie/mains_fragment/modal/mains_search_modal.html :: mains_search_modal"></div>

<!--미니 메뉴 div-->
<div th:replace="/movie/mains_fragment/modal/mini_main_modal.html :: sneak_peeks"></div>


<!--미니 메뉴-->
<script src="/js/modal/menu_modal.js"></script>

<!--글찾기 모달-->
<script src="/js/modal/Gallery_modal.js"></script>


<!--소메뉴 ㅇ검색 모달-->
<script src="/js/modal/momo_modal.js"></script>
<!--채팅 모달-->
<script src="/js/modal/chat_modal.js"></script>
<!--글검색 모달-->
<script src="/js/modal/write_freeboard_modal.js"></script>

<script src="/js/data/chat/chat_count.js"></script>

<!--글등록 모달-->
<script src="/js/resist_image_file/resist_modal.js"></script>
</body>
</html>