<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <!--소메뉴 css-->
    <link rel="stylesheet" href="/css/login/login(menu).css">
    <link rel="stylesheet" href="/css/login/login(menu).css">

    <!--    미니메뉴 모달-->
    <link rel="stylesheet" href="/css/mains/main_imin_menu.css">


    <!--글 등록 모달-->
    <link rel="stylesheet" href="/css/resist_contents/resist_modal.css">

    <!--    html크기css-->
    <link rel="stylesheet" href="/css/login/login.css">

    <!--배경색-->
    <link rel="stylesheet" href="/css/event/writer.css">


    <!--본 페이지 css    -->
    <link rel="stylesheet" href="/css/event/free_board_writer.css">


    <!--    커뮤니티 모달 제목 css-->
    <link rel="stylesheet" href="/css/mains/modal/menu_modal.css">


    <!--소메뉴 검색 모달css-->
    <link rel="stylesheet" href="/css/mains/modal/momo_modal.css">

    <!--    소메뉴 채팅-->
    <link rel="stylesheet" href="/css/mains/modal/chat_modal.css">


    <!--    커뮤니티 css-->
    <link rel="stylesheet" href="/css/mains/modal/fragment_gallery_modal.css">

</head>
<body>
<!--소메뉴 div-->
<div th:replace="movie/sub_menu-fragment/sub_menu_fragment :: article_divs"></div>
<form method="post" name="free_board_writer" action="/free_board_writer" class="big_frame">
    <!--count를 input하는 것이 무조건 필요-->
    <input type="hidden" name="count" value="0">
    <input type="hidden" th:value="${userSession.username}" name="username">
    <div class="big_div">
        <div class="big_gallery_title"><h2 class="title_big">F-WRITE</h2></div>
        <div class="blank">
            <div class="f-write_title"><h2 class="title_word">글제목</h2></div>
            <div class="title_inputs">
                <label>
                    <input type="text" class="title_input" name="free_title">
                </label>
            </div>
        </div>
        <div class="blank"></div>
        <div class="big_content">
            <label>
                <textarea class="content_big_input" name="free_contents"></textarea>
            </label>
        </div>
        <div class="blank"></div>
<!--        <div class="big_content_file">-->
<!--            파일을 마우스로 끌어 오세오.-->
<!--        </div>-->
        <div class="writer_button">
            <div class="button_bottom">
                <button class="bottom_submit">SUBMIT</button>
                <button class="bottom_close">CLOSE</button>
            </div>
        </div>


    </div>

</form>

<!--소메뉴 커뮤니티 모달 div-->
<div th:replace="movie/community/fragment_gallery_modal :: mains_menu_modal"></div>
<!--소메뉴 채팅 모달 div-->
<div th:replace="movie/mains_fragment/modal/mains_chat_modal :: chat"></div>


<!--소메뉴 검색 모달 div-->
<div th:replace="movie/mains_fragment/modal/mains_search_modal :: mains_search_modal"></div>

<!--미니 메뉴 div-->
<div th:replace="movie/mains_fragment/modal/mini_main_modal :: sneak_peeks"></div>


<!--이 페이지에 필요한 js-->
<script src="/js/data/free_board_writer.js"></script>

<!--채팅js-->
<script src="/js/modal/chat_modal.js"></script>

<!--소메뉴 검색 js-->
<script src="/js/modal/momo_modal.js"></script>


<!--카테고리 js-->
<script src="/js/modal/Gallery_modal2.js"></script>

<!--미니 메뉴-->
<script src="/js/modal/menu_modal.js"></script>

<!--글등록 모달-->
<script src="/js/resist_image_file/resist_modal.js"></script>

</body>
</html>