<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/css/event/free_board.css">
    <link rel="stylesheet" href="/css/login/login(menu).css">
    <link rel="stylesheet" href="/css/login/login(menu).css">
    <link rel="stylesheet" href="/css/login/login.css">
    <link rel="stylesheet" href="/css/event/writer.css">
    <link rel="stylesheet" href="/css/modal/free_board_modal.css">
</head>
<body>
<div th:replace="/movie/sub_menu-fragment/sub_menu_fragment.html :: article_divs"></div>
<div th:replace="/movie/community/fragment_gallery_modal.html :: Gallery_modal"></div>

</body>
</html>