<!DOCTYPE html>
<html lang="en">
<head>
    <!--    css-->
    <!--    css 소메뉴 html크기 css-->

    <link rel="stylesheet" href="/css/login/login(menu).css">
    <link rel="stylesheet" href="/css/login/login(menu).css">
    <link rel="stylesheet" href="/css/login/login.css">

    <!--    공지사한-->
    <link rel="stylesheet" href="/css/event/g_board.css">

    <!--보드를 유지하기 위한 css-->

    <link rel="stylesheet" href="/css/event/free_board.css">

    <!--   검색 모달 css-->
    <link rel="stylesheet" href="/css/modal/free_board_modal.css">

    <!--    커뮤니티 제목을 유지하기 위한 css, 커뮤니티 css-->
    <link rel="stylesheet" href="/css/mains/modal/menu_modal.css">
    <link rel="stylesheet" href="/css/mains/modal/fragment_gallery_modal.css">
    <!--    소메뉴 검색 css-->
    <link rel="stylesheet" href="/css/mains/modal/momo_modal.css">

    <!--    채팅-->
    <link rel="stylesheet" href="/css/mains/modal/chat_modal.css">


    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <!--    미니메뉴 모달-->
    <link rel="stylesheet" href="/css/mains/main_imin_menu.css">

    <!--    공지사함 검색모달-->
    <link rel="stylesheet" href="/css/event/g_search_modal.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--소메뉴  div-->

<div th:replace="/movie/sub_menu-fragment/sub_menu_fragment.html :: article_divs"></div>
<div class="big_word">
    <div class="input">
        <button id="writer_word" onclick="location.href='/movie/community/g_board_writer'"><img
                src="/css/img/icon/290135_pen_pencil_write_icon.png" alt="" id="pencil"></button>
        <button id="w_s" class="ww_ss"><img src="/css/img/icon/9035096_search_icon.png" alt="" width="100%"
                                            height="100%"></button>
    </div>
    <div class="gallery_title"><h2 class="h2_title2">공지사항</h2></div>
    <div class="gallery_blank_mini">
        <div class="mini_title_good" id="writer_number">글번호</div>
        <div class="mini_title_good" id="writer_title">글제목</div>
        <div class="mini_title_good" id="writer">작성자</div>
        <div class="mini_title_good" id="w_c">조회수</div>
        <div class="mini_title_good" id="l_c">좋아요</div>
        <div class="mini_title_good" id="w_t">작성일</div>
    </div>
    <div class="gallery_content">
        <div class="gallery_blank_mini2" th:each="vo, status: ${list}"
             th:onclick="|location.href='@{/movie/community/g_detail(g_number=${vo.g_number})}'|">
            <input type="hidden" th:value="${vo.g_number}">
            <div class="mini_title_good" id="writer_number2">[[${vo.g_number}]]</div>
            <div class="mini_title_good" id="writer_title2">[[${vo.g_title}]]</div>
            <div class="mini_title_good" id="writer2">[[${vo.nickname}]]</div>
            <div class="mini_title_good" id="w_c2"></div>
            <div class="mini_title_good" id="l_c2"></div>
            <div class="mini_title_good" id="w_t2"></div>
        </div>
    </div>
</div>
<!--게시판 검색 div-->

<div th:replace="/movie/community/g_search_modal.html :: free_writer_modal"></div>

<!--커뮤니티div-->

<div th:replace="/movie/community/fragment_gallery_modal.html :: mains_menu_modal"></div>

<!--채팅 모달div-->

<div th:replace="/movie/mains_fragment/modal/mains_chat_modal.html :: chat"></div>

<!--소메뉴 검색css-->

<div th:replace="/movie/mains_fragment/modal/mains_search_modal.html :: mains_search_modal"></div>

<!--미니 메뉴 div-->
<div th:replace="/movie/mains_fragment/modal/mini_main_modal.html :: sneak_peeks"></div>


<!--소메뉴 검색 모달-->

<script src="/js/modal/momo_modal.js"></script>

<!--채팅 모달js-->

<script src="/js/modal/chat_modal.js"></script>

<!--게시판 검색 js-->
<script src="/js/modal/write_freeboard_modal.js"></script>

<!--게시판 date js-->

<script src="/js/data/freeboard.js"></script>

<!--커뮤니티 js-->

<script src="/js/modal/Gallery_modal2.js"></script>

<!--미니 메뉴-->
<script src="/js/modal/menu_modal.js"></script>

</body>
</html>