
/*여기가 영화 상영 예정작*/
section{
    height: 22%;
    width: 100%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.movie_list{
    height: 100%;
    width: 80%;
    border:1px solid white;
}
.movie_title{
    height: 12%;
    width: 100%;
    border: 1px solid white;
    overflow: hidden;
}
.sort{
display: flex;
    font-size: 30px;
color: white;
    height: 100%;
    width:30%;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    float:left;
}
.watch_movie{
    width: 50%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
;
}
#right{ float:right;
    border: 1px solid white;
}
/*여백만들기*/
.good_movie{
    width: 100%;
    height: 7%;
    color: white;
}

.movie_title_ex{
    height: 81%;
    width: 100%;
    border: 1px solid white;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    overflow: auto;

}

.movie_picture{
    border: 1px solid white;
    height: 100%;
    width:20%;
    box-sizing: border-box;

}

.movie_image{
    border: 1px solid white;
    height: 84%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie_gle{
    border: 1px solid white;
    height: 16%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.movie_real_image{
    width: 90%;
    height: 90%;
    border: 1px solid white;
    border-radius: 20px;
}

