.section2{
    height: 20%;
    width: 100%;
    border: 1px solid white;
    color: #86edf2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.good_movies{
    height: 100%;
    width: 80%;
    border: 1px solid white;
    overflow: auto;
    overflow-y: hidden;

}

#good_movies_title{
    width: 100%;
    height: 16%;
    border:1px solid white;
    box-sizing: border-box;
    display: block;

}

#good_movies_title_bottom{
    width: 200%;
    height: 84%;
    border:1px solid white;
    box-sizing: border-box;
    display: flex;
}

.movie_event_notice{
    width: 25%;
    height: 100%;
    border:1px solid white;
    box-sizing: border-box;
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    flex-direction: column;


}

.movie_event_title{
    width: 100%;
    height: 16%;
    border: 1px solid white;
    box-sizing: border-box;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.movie_image_notice{
    width: 100%;
    height: 84%;
    border: 1px solid white;
    box-sizing: border-box;
}

.secrete_div{
    width: 0;
    height: 0;
    display: none;
}

#event_title_board{
    height: 100%;
    width: 25%;
 display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 26px;
    border: 1px solid white;
    float: left;
}