* {
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 2400px;
    min-width: 1900px;
    /*overflow-x: hidden;*/
    box-sizing: border-box;
    background-size : cover;
    padding: 0;
    margin: 0;



}

body {
    width: 100%;
    height: 100%;
    background-color: black;

    box-sizing: border-box;


}

.overflow {
    overflow: hidden;
    width: 100%;
    height: 36%;
    box-sizing: border-box;

}

.title {

    height: 16%;
    overflow: hidden;
    display: flex;
    position: relative; /* relative로 설정 */
    top: 0; /* 화면 상단에 고정 */
    width: 10%;
    z-index: 2;
    background-color: transparent;
    box-sizing: border-box;


}

.icon_menu {
    height: 100%;
    width: 15%;
    float: right;
    z-index: 2;
    box-sizing: border-box;


}

/*영화 사이트 제목 쓰는 곳과 메뉴 쓰는곳*/
.real_title {
    height: 100%;
    width: 70%;
    box-sizing: border-box;
    min-width: 1200px;

    z-index: 3;


}

/*영화 제목 쓰는곳*/
#real_title_top {
    width: 100%;
    height: 65%;
    box-sizing: border-box;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 40px;

}

.real_title_top_blank {
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    display: flex;


}
.real_title_top_blanks {
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    border-bottom:1px solid white ;



}

.real_title_top_blank_loginFQ {
    width: 90%;
    height: 50%;
    float: right;

    font-size: 15px;
    box-sizing: border-box;

    display: flex;

}

.real_title_top_blank_loginFQ_a {
    width: 33.3%;
    height: 100%;
    border-bottom: 1px solid white;
cursor: pointer;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-decoration: underline;
    color: antiquewhite;
}

.real_title_top_title {
    width: 60%;
    height: 100%;
    box-sizing: border-box;
border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

#real_title_bottom {
    width: 100%;
    height: 35%;

    box-sizing: border-box;
    z-index: 3;
    display: flex;
    overflow: hidden;


}

.real_title_bottom_two {
    height: 100%;

    width: 50%;
    box-sizing: border-box;
    display: flex;
}

.real_title_bottom_black {
    width: 25%;
    height: 100%;

    box-sizing: border-box;
    float: left;

}

.real_title_bottom_black_icon{
    width:80% ;
    height: 100%;

    display: flex;
    justify-content: center;
}

.real_title_bottom_black_icon_div{
    width:25%;
    height: 100%;

}

.icon_button{
    width: 100%;
    height: 100%;
    border:none;
    background-color: transparent;
    cursor:pointer;
}

.example-class{
  font-size:40px;
    color:antiquewhite;
}

.button_img{
width: 70%;
    height: 80%;
    color:black;
}
.real_title_bottom_blacks {
    width: 25%;
    height: 100%;

    box-sizing: border-box;
    float: right;
    display: flex;
    justify-content: end;

}

.real_title_bottom_blacks_arr{
    width: 80%;
    height: 100%;

    display: flex;

}

.real_title_bottom_blacks_a{
    width: 25%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}
#menu{
    color: antiquewhite;
    font-size: 45px;
    position: relative;
    top:4%;

}
#menus{
    color: antiquewhite;
    font-size: 40px;
}

#menutwo{
    color: antiquewhite;
    font-size: 35px;
    top:10%;
    right: 10%;
    position: relative;
}

#menulogin{
    color: antiquewhite;
    font-size: 40px;
    top:30%;
    position: relative;
}
.real_title_bottom_two_reservation {
    width: 20%;
    height: 100%;
cursor: pointer;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    font-style: initial;
    font-size: 15px;
    font-weight: bold;
}

#account_div {
    float: left;
    box-sizing: border-box;

}

.big_image {
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    background-image: url("img.png");
    background-size: contain; /* 이미지를 div에 맞게 조정 */
    background-position: center;


    z-index: 10; /* 낮은 z-index */
    position: absolute;
    top: 0;
}

.big_image_div{
    width: 10%;
    height: 84%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* 요소들을 양쪽으로 정렬 */
}

.big_image_arrow{
    width: 15%;
    height: 100%;
    background-color: transparent;

    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}
#big_image_arrow_right{
    width: 15%;
    height: 100%;
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;

}

.big_image_arrow_button{
    border: none;

    height: 10%;
    width:50%;
    background-color: transparent;
    cursor:pointer;
    max-width: 50%;
    min-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.big_image_arrow_button_left{
    border: none;

    height: 10%;
    width:50%;
    background-color: transparent;
    cursor:pointer;
    max-width: 50%;
    min-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#google_font{
    font-size: 100px;
    color: antiquewhite;
    font-weight: 1;

}
#google_font_right{
    font-size: 100px;
    color: antiquewhite;
    font-weight: 1;
}
.article {
    width: 1000%;
    height: 100%;
    position: relative;
    z-index: 2;
overflow: scroll;
    display: flex;

    justify-content: center;
    align-items: center;
}
.licence{
    height: 2%;
    width: 100%;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Copyright{
        color: white;
    width: 5%;
cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    border:none;
    background-color: transparent;
    font-size: 15px;
}
.modal_button{

        color: white;
        width: 5%;
        cursor:pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: underline;
        border:none;
        background-color: transparent;
        font-size: 15px;

}
#JCGX{
    width: 5%;
    height: 100%;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

}

#good{
top:-5%;
    position: relative;
}
.youtube{
    color:antiquewhite;
}
.popcorn{

    width: 50%;
    height: 100%;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid white;
cursor: pointer;
}
.theater{
    width: 50%;
    height: 100%;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid white;
cursor: pointer;
}
#modal_modal{
    position: relative;
    top:-18%;
    left: 10%;
}
.modalOpenButton{
    position: relative;
    top:10%;
    right: 6%;
}
.sneak_entry{width: 70%;
height: 100%;
background-color: transparent;}