<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="/css/login.css">
    <meta charset="UTF-8">
    <title>JCGX MEMBER LOGIN</title>
</head>
<body>
<div class="login_div">
    <div class="login_title"><h2>JCGX</h2></div>
    <div class="login_id_pw">
        <div class="login_input"><input type="text" class="input_black"></div>
        <div class="login_input"><input type="text" class="input_black"></div>
        <div class="login_button"><button id="login_button"><h3>LOGIN</h3></button></div>
    </div>
    <div class="login_"></div>
</div>
</body>
</html>