<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>sneak peek</title>
</head>
<body>
<div th:fragment="sneak_peek" class="body_movie_frame_feel">
    <iframe class="iframe" width="70%" height="100%"
            src="https://www.youtube.com/embed/QTK44VXXkXg?si=zUOLTcM-XlVx1jTv"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <iframe class="iframe" width="70%" height="100%" src="https://www.youtube.com/embed/LU7ujHmsc-s?si=LstrqmdnPIegfwoD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <iframe class="iframe" width="70%" height="100%" src="https://www.youtube.com/embed/7_lUqV3pM0o?si=WMjwnlANSgF3pZ-t" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

</div>
</body>
</html>