<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.movie.communityEventService.EventMapper">
    <insert id="gallery_free_board" parameterType="com.example.movie.commandVO.EventVO">
        INSERT INTO FREE_GALLERY (free_title, free_contents, username, write_time, count)
        VALUES (#{free_title}, #{free_contents}, #{username}, DATE_FORMAT(NOW(), '%y-%m-%d-%h-%m'), #{count});
    </insert>


    <select id="gallery_free_show" resultType="com.example.movie.commandVO.EventVO">
        SELECT fg.*,
               a.nickname,
               DATE_FORMAT(fg.write_time, '%m %d %H:%i') AS formatted_time
        FROM FREE_GALLERY AS fg
                 JOIN
             members AS a ON fg.username = a.username
        ORDER BY free_number DESC
            LIMIT #{First}, #{amount};
    </select>

    <select id="gallery_free_total" resultType="int">
        select count(*) AS gallery_free_total
        from FREE_GALLERY
    </select>

    <insert id="gallery_g_board" parameterType="com.example.movie.commandVO.EventVO">
        INSERT INTO g_GALLERY (G_TITLE, G_CONTENTS, username, write_time, g_count)
        VALUES (#{g_title}, #{g_contents}, #{username}, now(), #{count})
    </insert>

    <select id="gallery_g_show" resultType="com.example.movie.commandVO.EventVO">
        select g.*, a.nickname
        from g_GALLERY AS g
                 JOIN members AS a on g.username = a.username
        order by G_NUMBER desc limit #{First}, #{amount}
    </select>
    <select id="gallery_g_total" resultType="int">
        select count(*) AS gallery_g_total
        from G_GALLERY
    </select>
    <select id="gSelect" resultType="EventVO">
        select g.*, a.nickname
        from G_GALLERY AS g
                 join members AS a on g.username = a.username
        where g_number = #{g_number}


    </select>


    <update id="g_count" parameterType="int" >
        UPDATE FREE_GALLERY
        SET g_count = g_count + 1
        WHERE free_number = #{freeNumber}    </update>

    <select id="freeselect" parameterType="int" resultType="EventVO">
        select fg.*, a.nickname
        from FREE_GALLERY AS fg
                 join members as a on fg.username = a.username
        where free_number = #{free_number}
    </select>


    <select id="free_detail_update_select" resultType="EventVO">
        select *
        from FREE_GALLERY
        where free_number = #{free_number}


    </select>

    <update id="findEventFree_Number" parameterType="int" >
        UPDATE FREE_GALLERY
        SET count = count + 1
        WHERE free_number = #{freeNumber}    </update>

    <delete id="free_delete">
        delete
        from free_gallery
        where free_number = #{free_number}

    </delete>


    <delete id="g_delete">
        delete
        from g_gallery
        where g_number = #{g_number}
    </delete>

    <select id="g_update" resultType="EventVO">
        select g.*, a.nickname
        from g_GALLERY as g
                 JOIN members as a on g.username = a.username
        where g_number = #{g_number}

    </select>

    <insert id="Post_comment" parameterType="EventVO">
        insert into comment(coment, coment_date, username, free_number) values(
                                                           #{comment}, now(), #{username},#{free_number}
                                                       );
    </insert>
</mapper>

