<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.movie.communityEventService.EventMapper">
    <insert id="gallery_free_board" parameterType="com.example.movie.commandVO.EventVO">
        INSERT INTO FREE_GALLERY (free_title, free_contents)
        VALUES (#{free_title}, #{free_contents})
    </insert>
    <select id="gallery_free_show" resultType="com.example.movie.commandVO.EventVO">
select * from FREE_GALLERY
order by free_number desc limit #{First},#{amount}
    </select>
    <select id="gallery_free_total" resultType="int" >
        select count(*) AS gallery_free_total from FREE_GALLERY
    </select>
</mapper>

