<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.movie2.LoginService.LoginMapper">
    <insert id="Login_join" parameterType="com.example.movie2.commandVO.LoginVO">
        insert into members (nickname, namena, id, pw, phone, birth, gender,job,email) values(#{nickname},#{namena},#{id},#{pw}, #{phone}, #{birth}, #{gender}, #{job}, #{email})
    </insert>

</mapper>