<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.movie.movie_image_service.Movie_Image_Mapper">
    <insert id="movie_resist" parameterType="com.example.movie.commandVO.MainsVO.MovieVO">
        insert into movie_title (movie_title, movie_filename, uuid, reg_date, movie_resist_filePath, sizes, movie_textarea, uploadPaths, filePath)
        values (#{movie_title}, #{movie_filename}, #{uuid}, now(), #{movie_resist_filePath}, #{size}, #{movie_textarea},#{uploadPaths}, #{filePath});

    </insert>

    <select id="movie_resist_list" resultType="movieVO">
    select * from movie_title;
    </select>
    
    <insert id="event_board_resist" parameterType="com.example.movie.commandVO.MainsVO.EventVO_Board">
        insert into event_board_image (filePath, event_name,uploadPaths, size, movie_filename,resist_textarea,movie_resist_filepath)
        values(#{filePath}, #{event_name},#{uploadPaths},#{size},#{movie_filename}, #{resist_textarea}, #{movie_resist_filePath})
    </insert>
</mapper>