<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.movie.ReservationService.ReservationMapper">
    <insert id="movie_report_resist" parameterType="ReservationVO">
    insert into reservation_contents(movie_title,movie_place, movie_time, movie_Seat, username, reservation_price, paymentId)   values  (#{movieTitle}, #{moviePlace}, #{movieTime},#{movieSeat}, #{username}, #{reservation_price}, #{paymentId});

    </insert>
    <select id="getMovieCategoryChild"  resultType="CategoryVO">
        select * from movie_category_table
        where group_id= #{group_id}
        and movie_category_parents_lv= #{movie_category_lv}
        and movie_category_detail_parent_lv=#{movie_detail_lv}
    </select>
    <select id="getMovieCategory" resultType="CategoryVO">
    select * from movie_category_table
    where movie_category_lv = 1

    </select>
    <select id="getMovieCategory2" resultType="CategoryVO">
        select * from movie_category_table
        where movie_category_lv = 2 and group_id="A";
    </select>
    <select id="getMovieCategory3"  resultType="CategoryVO">
            SELECT *
            FROM movie_category_table
            where  movie_category_lv=3 and group_id="A" ;
        </select>

<!--    예약 SQL-->
    <select id="getReservation_board" resultType="int">
        select count(*) from  reservation_contents;

    </select>


    <select id="getReservation_pay" parameterType="com.example.movie.util.Criteria" resultType="ReservationVO">
        select * from reservation_contents
        where username=#{username};
    </select>

    <delete id="reservation_Delete">
        delete
        from reservation_contents
        where reservation_number=#{reservation_number}
    </delete>

    <insert id="paymentVO" parameterType="com.example.movie.commandVO.PaymentVO">
        insert into movie_payment (username, movie_title, movie_time, movie_place, paymentId, reservation_price, movie_Seat, payment_time)
        values (#{username}, #{movie_title}, #{movie_time}, #{movie_place}, #{paymentId}, #{reservation_price}, #{movie_Seat}, now())
    </insert>


    <select id="getPayment_report" resultType="PaymentVO">
        select * from movie_payment where username=#{username}
    </select>

    <select id="paymentId_same" resultType="ReservationVO">
        select * from reservation_contents where username=#{username} and paymentId=#{paymentId};
    </select>

<!--    paymentId 데이터베이스-->
    <insert id="paymentIdSave" parameterType="PaymentIdVO">
        insert into paymentIdvo(paymentId,reservation_price, username, payment_time) values(#{paymentId}, #{reservation_price}, #{username}, #{payment_time})
    </insert>



</mapper>