body {
    width: 100%;
    height: 180%;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;

}


#login_join {
    width: 60%;
    height: 80%;
    border: none;
    background-color: white;
    position: relative;
    top: -6%;
    min-width: 900px;
}

#id_title {
    height: 14%;
    width: 100%;
    /*border: 1px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fefefe;
}

.id {
    width: 100%;
    height: 5.1%;
    /*border: 1px solid black;*/
    display: flex;

}

.black {
    height: 3%;
    width: 100%;
    /*border: 1px solid black;*/
}


/*회원가입 제목*/
.title_id {
    color: chocolate;
    font-weight: bolder;
}

/*아이디*/
.id_div {
    width: 30%;
    height: 100%;
    /*border: 1px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: chocolate;

}

.input {
    width: 100%;
    height: 70%;
    font-size: 20px;
}
.id_input{
    width: 60%;
    height: 100%;
    /*border: 1px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
label{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.div_button{
height: 17.1%;
    width: 100%;
    /*border: 1px solid black;*/
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/*버튼*/
.botton_button{
    width: 20%;
    height: 40%;
    border-radius: 10px;
    background-color:tan;
    border: none;

}

#button_colors{
    background-color:#f8d7b0;
}

#button_color{
    background-color:antiquewhite;

}