*{padding: 0; margin: 0;}
html{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{   width: 80%;
    height: 80%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_div{
    width:35%;
    height: 65%;
    background: linear-gradient(#b1deee 9%,#52bcda 90%);
    border-radius: 50px;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
    min-width: 450px;
}
.login_title{

    width: 100%;
    color: red;
    text-align: center;
    height: 27%;
    display: flex;
    justify-content: center;
    align-items: center;

border: none;
}
.h2_title{
    font-size: 55px;

}
.login_search{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
}
.login_id_pw{
    height: 90%;

    width: 100%;
}
.login_{
    height: 10%;

    width: 100%;
    background-color: black;
    border-radius: 0 0 50px 50px;
}
.login_input{

    height: 25%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.login_button{

    height: 40%;
    width: 100%;
    display:flex ;
    flex-direction: column;

    align-items: center;
}
.small_button{
    display: flex;
    height: 50%;
    width: 100%;
    align-items: inherit;
}
.big_button{
display: flex;
    height: 50%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.input_black{
    height: 40%;
    width: 70%;
    border-radius: 10px;
    border:none;



}
#login_button{
    height: 80%;
    width: 70%;
    border-radius: 10px;

    font-size: 30px;
    cursor:pointer;
border: none;
    background-color: #86edf2;

}
#login_buttons{
    height: 30%;
    width: 70%;
    border-radius: 12px;
    background-color: #FEE500;
    font-size: 30pt;
    cursor:pointer;
    border:none;


}
.login_buttonss{
    width: 50%;
    height: 100%;
border: none;
font-size: 30px;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
#img_naver{
    width: 90%;
    border-radius: 12px;
    font-size: 12pt;
    height: 90%;
}

#img_kakao{
    width: 90%;
    height: 90%;


    border-radius: 12px;
}
.img_n{
    font-size: 30px;
height: 100%;
    width: 100%;
}
input{font-size: 30px;}
