<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <!--    &#45;&#45;css파일-->

    <!--    제이쿼리 js파일-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="/css/mains/mains(article).css">
    <link rel="stylesheet" href="/css/mains/mains(section).css">
    <link rel="stylesheet" href="/css/mains/mains(section2).css">
    <link rel="stylesheet" href="/css/mains/mains_movie_store.css">
    <link rel="stylesheet" href="/css/mains/modal/mains_botton_modal.css">
    <link rel="stylesheet" href="/css/mains/modal/menu_modal.css">
    <link rel="stylesheet" href="/css/mains/modal/momo_modal.css">
    <link rel="stylesheet" href="/css/mains/modal/chat_modal.css">
    <link rel="stylesheet" href="/css/mains/modal/sneak_modal.css">

    <!--글 등록 모달-->
    <link rel="stylesheet" href="/css/resist_contents/resist_modal.css">
    <!--    미니메뉴 모달-->
    <link rel="stylesheet" href="/css/mains/main_imin_menu.css">

    <!--    모달 css-->
    <!--    <link rel="stylesheet" href="/css/modal/modal.css">-->
    <!--    <link rel="stylesheet" href="/css/modal/chat_modal.css">-->
    <!--    제이쿼이 -->
    <script src="/js/jquery-3.7.1.min.js"></script>

    <!--    구글폰트-->


    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title></title>

</head>
<body>
<div class="overflow">
    <div th:replace="/movie/mains_fragment/mains_menus.html :: article_div">

    </div>
    <div th:replace="/movie/mains_fragment/modal/mains_menu_modal.html :: mains_menu_modal"></div>

</div>
<section>
    <div class="movie_list">
        <div class="good_movie"></div>
        <div class="movie_title">
            <div class="sort">
                <div class="watch_movie" id="moving">상영중영화</div>
                |
                <div class="watch_movie" id="movie_watch">상영예정인영화</div>
            </div>
        </div>
        <div class="movie_title_ex" th:utext="${movieHtml}">
<!--            <div class="movie_picture" th:each="vo, status:${movie_list}">-->

<!--                <div class="movie_image">-->
<!--                    <div class="movie_real_image">-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="movie_gle">[[${vo.movie_title}]]</div>-->

<!--            </div>-->

        </div>

    </div>
    <div class="secrete_div" th:each="vo : ${movie_list}">
        <div id="title">
            [[${vo.movie_title}]]
        </div>
        <div class="integer">
            [[${vo.movie_integer}]]
        </div>
        <div id="filePath">
            [[${vo.filePath}]]
        </div>
        <div id="movie_filename">
            [[${vo.movie_filename}]]
        </div>
        <div class="uuid">
            [[${vo.uuid}]]
        </div>

        <h3 th:text="${vo.movie_title}">Movie Title</h3>
    </div>

</section>

<div th:replace="/movie/write_resist/resist_modal.html :: resist_fragment"></div>

<div th:replace="/movie/mains_fragment/mains_fragment.html :: mains_fragment"></div><!--영화관 이벤트-->
<div th:replace="/movie/shops/movie_store.html :: movie_SHOP"></div>
<div th:replace="/movie/mains_fragment/modal/mains_bottom.html :: mains_bottom">
</div>

<div th:replace="/movie/mains_fragment/modal/mains_menu_modal_important.html :: important"></div>
<div th:replace="/movie/mains_fragment/modal/mains_chat_modal.html :: chat"></div>
<div th:replace="/movie/mains_fragment/modal/mains_modal.html :: mains_modal"></div>
<div th:replace="/movie/mains_fragment/modal/mains_search_modal.html :: mains_search_modal"></div>
<div th:replace="/movie/sneak_peek/sneak_peek.html :: sneak_peek"></div>
<div th:replace="/movie/mains_fragment/modal/mini_main_modal.html :: sneak_peeks"></div>

<script th:inline="javascript">





</script>


<!--    js파일-->

<script src="/js/modal/mains_menu_modal.js"></script>
<script src="/js/modal/modal.js"></script>

<script src="/js/modal/chat_modal.js"></script>
<script src="/js/slide/slide.js"></script>
<script src="/js/modal/chat_modal.js"></script>
<script src="/js/modal/menu_modal.js"></script>

<!--영화등록 이미지 불러오는 js-->
<script src="/js/data/mains_Image/movie_Image.js"></script>
<!--section1 js-->
<script src="/js/slide/section1.js"></script>

<!--section2 js-->
<script src="/js/slide/section2.js"></script>

<!--section3 js-->
<script src="/js/slide/section3.js"></script>

<!--글등록 모달-->
<script src="/js/resist_image_file/resist_modal.js"></script>
</body>

</html>