#mains_menus_modal {
    display: none;
    /* 모달 스타일 추가 */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.mains_contenttwo{
    width: 30%;
    height: 60%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    border-radius: 10px;

}
.modalss {
    display: none;
}