<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--구글 폰트-->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <!--    mains css-->
    <link rel="stylesheet" href="/css/login/login(menu).css">
    <link rel="stylesheet" href="/css/login/logins.css">

    <!--    본페이지 css-->
    <link rel="stylesheet" href="/css/login/login.css">

</head>
<body>
<div th:replace="/movie/sub_menu-fragment/sub_menu_fragment.html :: article_divs"></div>

</body>
</html>