<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="menu_buttons" th:fragment="menu_fragment">


<div id="modalContainer" class="hidden">
    <div id="modalContent">
        <div>
        <h2 id="h2_modal">Modal Title</h2>
        </div>
        <div class="body_modal">
            <div></div>
            <div></div>
        </div>
        <button id="modalCloseButton">Close</button>
    </div>
</div>
    <script src="/js/main.js"></script>
</div>
</body>
</html>