.big_div{
    width: 66%;
    height: 98%;
    box-sizing: border-box;
}
.big_frame{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.blank{
    height: 4%;
    width: 100%;
    box-sizing: border-box;
    display: flex;

}
.big_content{
    height: 40%;
    width: 100%;
    box-sizing: border-box;
    background-color: #fee0af;
}
.big_gallery_title{
    height: 8%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

}

.big_content_file{
    height: 30%;
    width: 100%;
    box-sizing: border-box;
background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(247, 247, 247, 0.84));

}

.big_content_file.hover{
    border-color: #333;

}
.writer_button{
    height: 10%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button_bottom{
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bottom_submit{
    border: none;
    height: 40%;
    width: 30%;
    border-radius: 10px;
    background-color: #ef9a0b;
    font-size: 20px;


}

.bottom_close{
    border: none;
    height: 40%;
    width: 30%;
    border-radius: 10px;
    background-color: #d39c4a;
    font-size: 20px;

}
.title_big{
    color: #cd7e0a;
    font-size: 40px;
}
.f-write_title{
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-right: 2px solid #d39c4a;

}
.title_word{
    color: #c87709;
    border: none;


}
.title_input{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(247, 247, 247, 0.84));
        box-sizing: border-box;
border: none;
}
.title_inputs{
    width: 100%;

    box-sizing: border-box;
    border: none;
    text-align: left; /* 텍스트를 왼쪽으로 정렬 */
    vertical-align: top; /* 텍스트를 위쪽 정렬 */
    padding: 0; /* 내부 여백 제거 */
    margin: 0; /* 외부 여백 제거 */
    height: auto; /* 높이를 자동으로 */
    line-height: normal; /* 텍스트 줄 간격을 기본값으로 */

}

.content_big_input{
    width: 100%;
    height: 100%;
    font-size: 30px;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(247, 247, 247, 0.84));
    border: none;
    text-align: start;




}