<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <!--    모달적용-->
    <link rel="stylesheet" href="/css/mains/modal/mains_botton_modal.css">
    <link rel="stylesheet" href="/css/mains/modal/menu_modal.css">
    <link rel="stylesheet" href="/css/mains/modal/momo_modal.css">
    <link rel="stylesheet" href="/css/mains/modal/chat_modal.css">
    <link rel="stylesheet" href="/css/mains/modal/sneak_modal.css">

    <!--글 등록 모달-->
    <link rel="stylesheet" href="/css/resist_contents/resist_modal.css">

    <!--    미니메뉴 모달-->
    <link rel="stylesheet" href="/css/mains/main_imin_menu.css">

    <!--    css-->
    <link rel="stylesheet" href="/css/popcorn_store/popcorn_store.css">
    <link rel="stylesheet" href="/css/login/login(menu).css">
    <link rel="stylesheet" href="/css/login/login(menu).css">
    <link rel="stylesheet" href="/css/login/login.css">
    <link rel="stylesheet" href="/css/modal/fragment_gallery_modal.css">
    <link rel="stylesheet" href="/css/event/Gallery_modal.css">


    <meta charset="UTF-8">
    <title>JCGX SHOP</title>
</head>
<body>
<div th:replace="/movie/sub_menu-fragment/sub_menu_fragment.html :: article_divs"></div>

<div th:fragment="movie_SHOP" class="section3">
    <div class="movie_movie">
        <div class="ant">
            <div class="ant_set_title">
                <div class="set_title_button"></div>

                <div class="set_title_h2"><h2>맛난세트</h2></div>
                <div class="set_title_button">
                    <button class="button_store" onclick="location.href='/movie/shops/popcorn_store'">더보기</button>
                </div>
            </div>
            <div class="ant_contents" id="ant_one">
                <div class="ant_three">
                    <div class="contents_img">
                        이미지
                    </div>
                    <div class="contents_ant">
                        <div class="ant_big_title">s</div>
                        <div class="ant_big_title">s</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ant">
            <div class="ant_set_title">
                <div class="set_title_button"></div>

                <div class="set_title_h2"><h2>영화관람권</h2></div>
                <div class="set_title_button">
                    <button class="button_store" onclick="location.href='/movie/shops/popcorn_store'">더보기</button>
                </div>
            </div>
            <div class="ant_contents" id="ant_two" th:utext="${movie_ticket_htmlContent}">
<!--                <div class="ant_three">-->
<!--                    <div class="contents_img">-->
<!--                        이미지-->
<!--                    </div>-->
<!--                    <div class="contents_ant">-->
<!--                        <div class="ant_big_title">s</div>-->
<!--                        <div class="ant_big_title">s</div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
        <div class="ant">
            <div class="ant_set_title">
                <div class="set_title_button"></div>

                <div class="set_title_h2"><h2>기프트카트</h2></div>
                <div class="set_title_button">
                    <button class="button_store" onclick="location.href='/movie/shops/popcorn_store'">더보기</button>
                </div>
            </div>
            <div class="ant_contents" id="ant_threes" th:utext="${GifticonHtml}">
<!--                <div class="ant_three">-->
<!--                    <div class="contents_img">-->
<!--                        이미지-->
<!--                    </div>-->
<!--                    <div class="contents_ant">-->
<!--                        <div class="ant_big_title">s</div>-->
<!--                        <div class="ant_big_title">s</div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</div>
<div th:replace="/movie/community/fragment_gallery_modal.html :: Gallery_modal"></div>
<div th:replace="/movie/mains_fragment/modal/mains_chat_modal.html :: chat"></div>
<div th:replace="/movie/mains_fragment/modal/mains_search_modal.html :: mains_search_modal"></div>


<div th:replace="/movie/mains_fragment/modal/mains_menu_modal.html :: mains_menu_modal"></div>
<div th:replace="/movie/mains_fragment/modal/mini_main_modal.html :: sneak_peeks"></div>


<script src="/js/modal/Gallery_modal.js"></script>
<script src="/js/modal/mains_menu_modal.js"></script>
<script src="/js/modal/modal.js"></script>
<script src="/js/modal/momo_modal.js"></script>
<script src="/js/modal/chat_modal.js"></script>
<script src="/js/modal/write_freeboard_modal.js"></script>
<script src="/js/data/freeboard.js"></script>
<!--미니 메뉴-->
<script src="/js/modal/menu_modal.js"></script>
<!--글등록 모달-->
<script src="/js/resist_image_file/resist_modal.js"></script>
</body>
</html>