<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="article_divs" class="main_title">
    <div class="big_sub_main">
        <div class="week_title">
            <div class="bird"><img width="90%"
                                   height="100%"
                                   src="https://img.icons8.com/arcade/64/popcorn.png"
                                   alt="popcorn"/></div>
            <div class="bird"><img
                    width="90%" height="100%" src="/css/img/icon/movies.png" alt=""></div>
            <div class="good"></div>

        </div>
        <div class="strong_title"><h2>JCGX</h2></div>
        <div class="week_title">
            <div class="good"></div>
            <div class="icons">

    <div class="clouds">
       <div class="a_word"><a>로그인</a></div>
        <div class="a_word"><a>회원가입</a></div>
        <div class="a_word">   <a >문의사항</a></div>
        </div>
            </div>
        </div>
    </div>
    <div class="small_sub_main">
        <div class="week_menu_function">

            <div class="small_icon"><img width="50%" height="50%" alt="" src="/css/img/icon/5296499_fb_facebook_facebook%20logo_icon.png"> </div>
            <div class="small_icon"><img width="50%" height="50%"  alt="" src="/css/img/icon/5296765_camera_instagram_instagram%20logo_icon.png">
            </div>
            <div class="small_icon"><img width="60%" height="60%" src="/css/img/icon/4375133_logo_youtube_icon.png" alt=""> </div>
            <div class="small_icon"><img width="60%" height="60%" src="https://img.icons8.com/color/48/kakaotalk.png"
                                         alt="kakaotalk"/></div>
        </div>
        <div class="menu_function">
            <div class="plus_menu">영화정보</div>
            <div class="plus_menu">커뮤니티</div>
            <div class="plus_menu">예매</div>
            <div class="plus_menu">이벤트</div>
            <div class="plus_menu">스토어</div>
        </div>
        <div class="week_menu_function">

            <div class="small_icon"><span
                    class="material-symbols-outlined" id="menus">
home
</span></div>
            <div class="small_icon"><span class="material-symbols-outlined"
                                          id="menulogin">
search
                            </span></div>
            <div class="small_icon"><span class="material-symbols-outlined"
                                          id="menutwo">
chat_bubble
</span></div>
            <div class="small_icon"><span class="material-symbols-outlined" id="menu">
menu
</span></div>
        </div>
    </div>
</div>