body{   width: 100%;
    height: 140%;
overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;

}
#reservation{
height: 128%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
}

#reservation_board{
    width: 46%;
    height: 50%;
    background-color: white;
    position: relative;
    top:9%;
    display: flex;
}
.movies_titles{
    width: 33.3%;
    height: 100%;
    border: 1px solid black;
}
/*#place{*/
/*    width: 33.3%;*/
/*    height: 100%;*/
/*    border: 1px solid black;*/
/*}*/
/*#time{*/
/*    width: 33.3%;*/
/*    height: 100%;*/
/*    border: 1px solid black;*/
/*}*/
/*영화 이름 데이터 가져오는 div*/
.movie_name{
    width: 100%;
    height: 15%;
    border: 1px solid saddlebrown;
background-color: #d39c4a;
    box-shadow: bisque;
    color:antiquewhite;

    font-size: 30px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.movies_titles > a.sub_menu_select,
a.sub_menu_select {color: #f1f1f1; background-color: #00acac;}
a:hover {background-color: #2196F3;}
.movies_titles > a.on {background-color: #2196F3;}