html{
    width:100%;
    height: 2500px;

}
body{
    width: 100%;
    height:100%;
    background-color: black;


}
.title{
    background-color: black;
    border: 1px solid white;
    height:16%;
    overflow: hidden;

}
.icon_menu{
    height: 100%;
    width: 20%;
    border: 1px solid white;
    float: right;

}
#account_div{
    float: left;
}
.big_image{
    width: 100%;
    height: 100%;
    border: 1px solid white;
}
article{
    height: 34%;
}
