.input {
    min-height: 1890px;
    min-width: 1700px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

.free_detail {
    width: 60%;
    height: 86%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: white;
    position: relative;
    top: 5%;


}

.user_name {
    height: 13.5%;
    border: 1px solid black;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}

#title {
    height: 52%;
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

#user_id {
    height: 48%;
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
}

.free_contents {
    height: 60%;
    width: 100%;

    box-sizing: border-box;

}

.coment {
    height: 60%;
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
}

#user_img {
    height: 100%;
    width: 7%;
    border: 1px solid black;
    box-sizing: border-box;
}

#free_feature {
    height: 100%;
    width: 93%;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}

#free_impormation {
    height: 50%;
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
}

#name {
    height: 50%;
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
}

.small_box {
    height: 100%;
    width: 15%;
    border: 1px solid black;
    box-sizing: border-box;
    min-width: 170px;
    min-height: 24px;
}

.talk {
    height: 18%;
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
}
#comment_dox{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.talk_writer {
    height: 74%;
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#botton_buttom {
    height: 24%;
    position: relative;
    display: flex;
    justify-content: space-between;


}

#secrete_box{
    width: 100%;
    height: 4%;
}



#talk_button_freetwo {
    height: 100%;
    width: 18%;
    color: #b85c00;
    background-color: antiquewhite;
    box-sizing: border-box;
    border-radius: 5px;

    display: flex;


    font-size: 25px;
    justify-content: center;
    align-items: center;
    cursor: pointer;


}
/*의미없는것*/
#talk_button_frees{
    height: 10%;
    background: transparent;
    width: 15%;
}

#talk_button_update {
    height: 40%;
    width: 18%;
    background-color: #FFA82E;
    color: white;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    cursor: pointer;


}

#talk_button_cancel {
    height: 40%;
    width: 18%;
    border: none;
    background-color: #DB8B00;
    color: white;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

#talk_input {
    width: 100%;
    height: 100%;
    font-size: 20px;
    border: none;
    resize: none;

}

#talk_img {
    width: 10%;
    min-width: 130px;
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    z-index: 10;
}

#talk_img_two {
    width: 10%;
    min-width: 130px;
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    z-index: 10;
}


#input_img {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 50%;
}

#talk_contents {
    width: 90%;
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
}

#talk_contents_two {
    width: 90%;
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
}

#talk_contents_title {
    width: 100%;
    height: 30%;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
}

#talk_contents_content {
    width: 100%;
    height: 70%;
    border: 1px solid black;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
}

#talk_contents_content_two {
    width: 100%;
    height: 70%;
    border: 1px solid black;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
}


#notice {
    width: 100%;

    border: 1px solid black;
    box-sizing: border-box;
}

#notice_two {
    width: 100%;

    border: 1px solid black;
    box-sizing: border-box;
}

#buttom_two {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

/*댓글 textarea*/
#textarea {
    width: 82%;
    height: 100%;
    border: none;
    font-size: 20px;
    padding: 0; /* 내부 여백 제거 */
    margin: 0; /* 외부 여백 제거 */
    text-align: start;
    box-sizing: border-box;
    vertical-align: top;
    resize: none;

}

#button_resist{
    width: 30%;
    height: 100%;
    box-sizing: border-box;

}

#id {
    width: 50%;
    height: 100%;
    display: flex;
}

#write_time {
    width: 50%;
    height: 100%;
    display:flex;
}

#ids {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}


#username{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

#write{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

#comment_date{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

#label{
    display: flex;
    width: 100%;
    height: 100%;
}

#comment_d{
    width: 100%;
    height: 60%;
}

#talk_writer_free{
    width: 100%;
    height: 18%;
    border: 1px solid black;
    display: flex;
}

#talk_id{
    width: 10%;
    height: 100%;
    border: 1px solid black;
    min-width: 130px;

}

#talk_comments{
    width: 90%;
    height: 100%;
    border: 1px solid black;
}

#id_two {
    width: 50%;
    height: 100%;
    display: flex;
}

#ids_two {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

#username_two{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

#write_time_two {
    width: 50%;
    height: 100%;
    display:flex;
}

#write_two{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

#comment_date_two{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

#talk_contents_title_two {
    width: 100%;
    height: 30%;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
}

#input_img_two {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 50%;
}